// Global color definitions

$alizarinCrimson: #e71d36; // rgb(231,29,54)   hsl(353,81,51)
$alto:            #d7d7d7; // rgb(215)         hsl(0,0,84)
$boulder:         #7b7b7b; // rgb(123),        hsl(0,0,48)
$gallery:         #edecec; // rgb(237,236,236) hsl(0,3,93)
$mercury:         #e7e7e7; // rgb(231),        hsl(0,0,91)
$nero:            #222;    // rgb(34)          hsl(0,0,13)
$nightRider:      #313131; // rgb(49)          hsl(0,0,19)
$silver:          #bababa; // rgb(186),        hsl(0,0,73)
